# Exploratory Data Analysis
US Energy Information Administration: Gasoline Retail Prices

In [1]:
import pandas as pd
import numpy as np
import altair as alt
import sqlite3

In [8]:
conn = sqlite3.connect('../database/gas_data.db')
query = 'select * from gas_prices'
raw_data = pd.read_sql(query,conn)

In [9]:
raw_data.sample(5)

,padd,duoarea,period,product,product_name,series_description,price,units
4189,PADD 3,R30,2003-12-01,EPM0,Total Gasoline,Gulf Coast All Grades All Formulations Retail ...,1.439,$/GAL
9516,PADD 4,R40,2023-08-21,EPM0,Total Gasoline,Rocky Mountain All Grades All Formulations Ret...,4.157,$/GAL
2085,PADD 2,R20,2013-12-02,EPM0,Total Gasoline,Midwest All Grades All Formulations Retail Gas...,3.179,$/GAL
9267,PADD 1,R10,1997-09-08,EPM0,Total Gasoline,East Coast All Grades All Formulations Retail ...,1.291,$/GAL
8145,PADD 1,R10,2019-03-11,EPM0,Total Gasoline,East Coast All Grades All Formulations Retail ...,2.501,$/GAL

In [12]:
raw_data.dtypes

padd                   object
duoarea                object
period                 object
product                object
product_name           object
series_description     object
price                 float64
units                  object
dtype: object

Data is organized by geographic region (padd) and listed by week. The retail price of gas is an average for that area, for all gas fromulations. Using a gas price average of all formulations gives you a more accurate picture of the market. If you only look at one type, like regular unleaded, you're ignoring premium, diesel, and others. Averaging them accounts for variations in supply and demand for each type, offering a more holistic view. Good for tracking trends or making predictions.

## Price Trend Over Time

First we will analyze how the price has changed over time. Weekly price fluxcuations will not be helpful as there will be too much variation. Let's first consider how a monthly average price shows the data trend.

In [14]:
#rounding price column
raw_data['price'] = raw_data['price'].round(2)

#set all period dates to first of month for grouping
raw_data['period'] = pd.to_datetime(raw_data['period'])
raw_data['month'] = raw_data['period'] - pd.offsets.MonthBegin(1)

In [26]:
#group data and take average price
price_by_month = raw_data.groupby(['padd', 'month']).mean(numeric_only=True).round(2).reset_index()

In [27]:
price_by_month

        padd      month  price
0     PADD 1 1993-04-01   1.05
1     PADD 1 1993-05-01   1.07
2     PADD 1 1993-06-01   1.08
3     PADD 1 1993-07-01   1.06
4     PADD 1 1993-08-01   1.05
...      ...        ...    ...
1825  PADD 5 2023-05-01   4.62
1826  PADD 5 2023-06-01   4.66
1827  PADD 5 2023-07-01   4.67
1828  PADD 5 2023-08-01   4.92
1829  PADD 5 2023-09-01   5.06

[1830 rows x 3 columns]